- photos.each_slice(3) do |images|
  .col-md-12
    #grid.row
      - images.each do |image|
        .mix.col-sm-4.margin30
          .item-img-wrap
            %img.img-responsive{:src => image.thumb.url}
            .item-img-overlay
              %a.show-image{:href => image.url, "data-lightbox" => "roadtrip"}
                %span